.review_container {
  .review_row {
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 175px;
    box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.3);

    &::before,
    &::after {
      content: ' ';
      position: absolute;
      z-index: 9;
      width: 350px;
      height: 100%;
    }
    &::before {
      top: 0;
      left: 0;
      background: linear-gradient(
        to right,
        rgba(10, 25, 47, 1) 0%,
        rgba(10, 25, 47, 0) 100%
      );
    }
    &::after {
      top: 0;
      right: 0;
      background: linear-gradient(
        to left,
        rgba(10, 25, 47, 1) 0%,
        rgba(10, 25, 47, 0) 100%
      );
    }
  }

  .review_row > div {
    display: flex;

    .review_card {
      box-shadow: 5px 5px 0px 0px $navy-shadow;
      background-color: $lightest-navy;
      min-width: 300px;
      height: 130px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      margin-right: 28px;
      padding: 20px;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: $dark-slate;
      }

      .review_comment {
        font-size: 18px;
        line-height: 1.5;
        color: $lightest-slate;
      }
    }

    .card_bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 1px solid $accent;
      }
    }
  }
}
