.primary_btn {
  border: 1px solid $accent;
  background-color: transparent;
  color: $accent;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: $transition;
  font-size: 14px;

  &:hover {
    background-color: $accent-hover;
  }

  &.filled {
    background-color: $accent;
    color: $dark-navy;

    &:hover {
      filter: brightness(0.9);
    }
  }

  &.large {
    padding: 20px 25px;
    font-size: 15px;
  }

  &.disabled {
    background-color: $dark-slate;
    cursor: default;
  }
}
