.user_profile {
  &.inline {
    display: inline-block;
  }
  .user_wrap {
    display: flex;
    align-items: center;
    .image {
      display: flex;
      width: 25px;
      height: 25px;
      background-color: $slate;
      border-radius: 50%;
      margin-right: 10px;
      font-size: 25px;
      color: $lightest-slate;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .display_name {
      font-size: 13px;
    }
  }
}
