.auth_container {
  display: flex;

  //메뉴
  .auth_menu {
    width: 200px;
    margin-right: 30px;
    flex-shrink: 0;
    li {
      position: relative;
      color: $lightest-slate;
      &.active {
        color: $navy;
      }

      a {
        position: relative;
        z-index: 98;
        display: block;
        height: 40px;
        line-height: 40px;
        padding-left: 15px;
        color: inherit;
      }
      .authMenu_effect {
        position: absolute;
        top: 0;
        left: 0;
        height: 40px;
        width: 100%;
        background-color: $accent;
      }
    }
  }

  .auth_contents {
    flex-grow: 1;
    padding: 0 50px;
    border-left: 1px solid $lightest-navy;

    .error_message {
      padding: 10px;
      border: 1px solid #ff0000;
      margin-bottom: 30px;
      line-height: 1.2;
    }

    //로그인&계정만들기
    .login_form {
      display: flex;
      justify-content: center;
      margin-bottom: 80px;

      form {
        width: 55%;
        b {
          color: $accent;
        }
        .input {
          margin-bottom: 40px;
        }
        .btn_login {
          text-align: center;
        }
      }

      .join_info {
        position: relative;
        top: -30px;
        font-size: 13px;
        line-height: 1.2;
        color: $light-slate;
      }
    }
  }
}
