.contact_container {
  //소셜리스트
  .contact_sns {
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      margin: 0 20px;
      span {
        margin-top: 15px;
        display: block;
        text-align: center;
      }
      svg {
        font-size: 25px;
      }
    }
  }
}

@media (max-width: 640px) {
  .contact_container {
    //소셜리스트
    .contact_sns {
      flex-wrap: wrap;
      li {
        margin-bottom: 40px;
      }
    }
  }
}
