header {
  background-color: $dark-navy;
  box-shadow: 0px 2px 4px $navy-shadow;

  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .header_logo {
      font-size: 50px;
    }

    .header_nav {
      a {
        margin: 0 30px;
        transition: $transition;
        color: $light-slate;
        &:hover,
        &.active {
          color: $lightest-slate;
        }
      }
    }

    .header_btns {
      button {
        margin-left: 10px;
      }
    }
  }
}
