header {
  position: relative;
  padding: 10px 0;
  background-color: $dark-navy;
  box-shadow: 0px 2px 4px $navy-shadow;

  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;

    .nav_effect {
      position: absolute;
    }

    .header_logo {
      position: relative;
      font-size: 14px;

      .logo_text {
        position: relative;
        left: 4px;
        display: inline-block;
        z-index: 8;
        text-align: right;
        font-weight: bold;
        color: $white;
        letter-spacing: 2px;
        line-height: 1.1;
        font-size: 18px;
        font-family: 'Agdasima', sans-serif;

        b {
          position: relative;
          top: 4px;
          left: 1px;
          color: $navy;
          padding-right: 5px;
          letter-spacing: 1px;
          font-family: inherit;
        }
      }
      .logo_icon {
        position: absolute;
        top: -5px;
        left: 0;
        font-size: 45px;
        color: $accent;
      }
      .nav_effect {
        top: -5px;
        left: 0;
        font-size: 45px;
        color: $accent;
      }
    }

    .header_nav_wrap {
      display: flex;
      align-items: center;

      .header_nav {
        a {
          margin: 0 30px;
          transition: $transition;
          color: $light-slate;
          position: relative;
          &:hover,
          &.active {
            color: $white;
          }
        }

        .nav_effect {
          top: 0px;
          left: -20px;
          color: $accent;
        }
      }

      .header_btns {
        display: flex;
        align-items: center;
        height: 40px;

        .user_menu_wrap {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          cursor: pointer;
          color: $slate;
          font-size: 40px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 50%;
          }

          ul.user_menu {
            position: absolute;
            top: 65px;
            bottom: 0;
            font-size: 15px;
            background-color: $white;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            display: flex;
            flex-direction: column;
            height: 70px;
            background-color: $white;
            z-index: 8;

            &::before {
              content: '';
              width: 20px;
              height: 20px;
              background-color: $white;
              position: absolute;
              top: -5px;
              left: 50%;
              transform: translateX(-50%) rotate(45deg);
            }

            li {
              position: relative;
              z-index: 1;
              color: $dark-navy;
              line-height: 35px;
              height: 35px;
              text-align: center;

              a {
                display: block;
                width: 100%;
                padding: 0 25px;
              }
              &:hover {
                background-color: $lightest-slate;
              }
            }
          }
        }
        .mobile_mypage_btn {
          display: none;
        }
        button {
          margin-left: 10px;
        }
      }
    }
  }

  //모바일 배경
  .mobile_bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba($dark-navy, $alpha: 0.5);
    opacity: 0;
    transition: $transition;
    &.active {
      display: block;
      opacity: 1;
    }
  }
  //모바일메뉴
  .mobile_menu {
    display: none;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    padding: 10px;
    border: 1px solid $accent;
    border-radius: 5px;
    z-index: 120;
    svg {
      font-size: 24px;
      color: $lightest-slate;
    }
  }
}

@media (max-width: 930px) {
  header {
    .header_container {
      .header_nav_wrap {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -300px;
        z-index: 120;
        padding: 20px;
        width: 300px;
        height: 100%;
        background-color: $navy;
        transition: $transition;
        opacity: 0;

        &.active {
          display: flex;
          opacity: 1;
          left: 0;
        }

        .header_nav {
          width: 100%;
          a {
            display: block;
            margin: 0;
            padding: 20px;
            width: 100%;
          }
          .nav_effect {
            top: 50%;
            left: -5px;
            transform: translateY(-50%) !important;
          }
        }

        .header_btns {
          position: absolute;
          bottom: 100px;
          margin-top: 40px;
          flex-direction: column;
          .user_menu_wrap {
            display: none;
          }
          .mobile_mypage_btn {
            display: flex;
            margin-bottom: 20px;
          }
          .mobile_resume {
            margin-top: 20px;
          }
        }
      }
    }

    //모바일메뉴
    .mobile_menu {
      display: block;
    }
  }
}
