.gallery_container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 300;

  .gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;

    .close_gallery {
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 15px;
      color: $dark-navy;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      background-color: $accent;
      border-radius: 50%;
      transition: $transition;

      span {
        position: absolute;
        bottom: 5px;
        left: 50%;
        font-size: 18px;
        transform: translateX(-50%);
        color: $dark-navy;
      }

      &:hover {
        top: -45px;
      }
    }

    .slick-slider {
      position: relative;
      top: calc(-80px / 2);
      width: 60%;
      border: 4px solid $accent;
      .gallery_box {
        position: relative;

        .gallery_desc {
          position: absolute;
          left: 50%;
          bottom: -2px;
          transform: translateX(-50%);
          padding: 10px 20px;
          background-color: $accent;
          color: $dark-navy;
          z-index: 9999;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: 1.2;
          font-size: 15px;
          svg {
            margin-right: 10px;
            font-size: 25px;
            flex-shrink: 0;
          }
        }

        img {
          width: 100%;
          object-fit: fill;
        }
      }
    }
    .slick-dots {
      bottom: -85px;
      li {
        width: 100px;
        height: 70px;
        border: 2px solid transparent;
        &.slick-active {
          border-color: $accent;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }

    .slick-prev {
      left: -60px;
    }
    .slick-next {
      right: -40px;
    }
  }
}
