//QnA 리스트

.qna_list {
  width: 100%;

  .qna_card {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $dark-slate;
    padding: 20px;

    .qan_info {
      display: flex;
      position: relative;
      align-items: flex-start;
      justify-content: space-between;

      .badge {
        flex-shrink: 0;
        padding: 5px 10px 7px;
        display: inline-block;
        font-size: 12px;
        background-color: transparent;
        letter-spacing: -0.5px;
        border: 1px solid $accent;
        color: $accent;

        &.completed {
          background-color: $accent;
          border: 1px solid transparent;
          color: $navy;
        }
      }

      .title {
        flex-grow: 1;
        margin-bottom: 20px;
        padding-left: 10px;
        line-height: 1.2;
        font-size: 18px;
        color: $lightest-slate;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }

      .toggle {
        margin-left: 20px;
        flex-shrink: 0;
        font-size: 30px;
        cursor: pointer;
      }

      .form_edit {
        margin-left: 10px;
        flex-grow: 1;
        input {
          position: relative;

          border: 0 none;
          font-family: inherit;
          color: $lightest-slate;
          font-size: 18px;
          padding: 0;
        }
      }
    }

    .qna_writer {
      display: flex;
      align-items: center;
      font-size: 13px;
      justify-content: space-between;
      .qna_writer_wrap {
        display: flex;
        align-items: center;
        flex-shrink: 0;
      }
      .date {
        margin-left: 30px;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: -15px;
          width: 1px;
          height: 15px;
          background-color: $dark-slate;
        }
      }
      .qna_buttons {
        margin-left: 10px;
        button {
          margin: 0 5px;
          padding: 5px;
          border: 1px solid $dark-slate;
          font-size: 12px;
        }
      }
    }

    //답변작성 & 질문수정
    .qna_update_form {
      padding: 20px 10px;
      form {
        width: 100%;
        display: flex;
        textarea {
          flex: 1 1 auto;
          padding: 10px;
          font-family: inherit;
          font-size: 16px;
        }
        button {
          flex-shrink: 0;
        }
      }
    }
  }

  .qna_answer {
    margin-top: 20px;
    padding: 20px;
    background-color: $dark-slate;
    color: $white;
    line-height: 1.5;

    > p {
      color: $lightest-slate;
    }

    .answer_bottom {
      margin-top: 15px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .date {
        margin-left: 15px;
        font-size: 13px;
      }
    }
  }
}

.qna_list_bottom {
  margin-top: 50px;
  position: relative;
  display: flex;
  justify-content: center;

  span {
    font-weight: bold;
    color: $navy;
    font-size: 18px;
  }
  .btn_write {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (max-width: 768px) {
  //QnA 리스트
  .qna_list {
    width: 100%;
    .qna_card {
      padding: 15px 0;
      .qan_info {
        .badge {
          font-size: 11px;
        }
        .title {
          font-size: 16px;
        }
        .form_edit {
          input {
            font-size: 16px;
          }
        }
      }
      .qna_writer {
        font-size: 11px;
        .date {
          margin-left: 15px;
          &::before {
            left: -7px;
          }
        }
        .qna_buttons {
          margin-left: 5px;
          button {
            font-size: 11px;
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .qna_list {
    //QnA 리스트
    .qna_card {
      .qna_writer {
        flex-direction: column;
        align-items: flex-start;

        .qna_buttons {
          display: flex;
          margin-top: 10px;
          margin-left: 0px;
        }
      }
    }
  }
}
