.slider_container {
  margin-bottom: 100px;
  padding: 0 50px;

  .slider_box {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding: 0 10px;
    width: auto;
    min-height: 250px;
    &:hover {
      .title_area {
        background-color: rgba($color: $dark-navy, $alpha: 0.4);
        border-color: $accent;

        h4,
        p {
          transform: translateY(-15px);
        }
      }
    }

    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      transition: $transition;
    }

    .slider_tags {
      position: absolute;
      top: 10px;
      left: 0px;
      right: 0;
      padding: 0 20px;
      span {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 10px;
        color: $lightest-slate;
      }
    }

    .title_area {
      background-color: rgba($color: $dark-navy, $alpha: 0.2);
      position: absolute;
      top: 0;
      left: 10px;
      bottom: 0;
      width: calc(100% - 20px);
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 20px;
      flex-direction: column;
      transition: $transition;
      border: 2px solid $dark-slate;

      h4 {
        color: $lightest-slate;
        font-size: 22px;
        transition: inherit;
      }
      p {
        margin-top: 10px;
        color: $accent;
        font-size: 14px;
        transition: inherit;
        svg {
          position: relative;
          top: 3px;
        }
      }
    }
  }
}

.slick-prev {
  left: -40px;
}
.slick-next:before,
.slick-prev:before {
  font-size: 38px;
  color: $accent;
}
.slick-disabled {
  display: none !important;
}
